body {
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: #091B2A;
    font-family: 'Poppins', sans-serif;
}
.heading {
    display: flex;
}
.logo {
    margin-top: 3rem;
    padding-left: 1.5rem;
    width: 25%;
    font-family: "Lucida Handwriting", cursive;
    font-size: 2.2rem;
}
.sidebar {
    padding: 0.8rem;
    flex-grow: 1;
    font-size: 1.1rem;
}
ul {
    text-align: right;
    margin-right: 2rem;
}
li {
    display: inline-block;
    list-style: none;
    margin: 1rem 2.4rem;
}
nav li a {
    color: white;
    text-decoration: none;
    position: relative;
}
nav li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #0ef;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav li a:hover::after {
    width: 100%;
}
/* ---------front section------------- */
.frontt {
    height: auto;
    padding: 6rem 12rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12rem;
    align-items: center;
}
#pic1 {
    width: 29rem;
    height: 30rem;
    border: 6px solid #0ef;
    border-radius: 50%;
}
.bio {
    flex: 1;
    font-family: "Lucida Handwriting";
}
.movingtext {
    color: #0ef;
    font-size: 1.35rem;
}
/* ------------About section---------------------- */
.myimg{
    width: 30%;
}
.about {
    margin: 0;
    padding: 5rem;
    font-size: 120%;
    gap: 8rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content { 
    width: 60%
}
#pic2 {
    border-radius: 55px;
    border: 2px solid #0ef;
    width: 19rem;
    height: 25rem;
    margin-left: 3rem;
}
.icon {
    padding: 20px;
    display: block;
}
.icon a {
    color: #0ef;
    text-decoration: none;
    border: 2px solid #0ef;
    border-radius: 50%;
    padding: 10px;
    margin: 7px;
}
.icon a:hover {
    background: #0ef;
    color: #091B2A;
    box-shadow: 0 0 15px #0ef;
}
#Resume{
    padding: 8px;
    background-color: #0ef;
    border: 2px solid #0ef;
    border-radius: 5px;
    position: relative;
    top: 22px;
    left: 28px;
    transition: transform 0.5s;
}
#Resume:hover{
transform: scale(1.1);
background: #0ef;
color: #091B2A;
box-shadow: 0 0 15px #0ef;
}
/* --------------services------------- */
.services {
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 30px;
}
.servicetext {
    color: #0ef;
}
.slist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
    margin: 0 50px;
}
.slist .listitem {
    position: relative;
    padding: 40px;
    background: transparent;
    border-right: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 48px #0053b8f7;
    overflow: hidden;
}
.slist .listitem .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #0ef);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.3s;
}
.slist .listitem h3 {
    color: white;
    font-size: 18px;
}

.slist .listitem:hover .overlay {
    opacity: 0.7;
}

.slist .listitem:hover {
    transform: translateY(-10px);
}
.slist i {
    color: #0ef;
    font-size: 60px;
}
/* --------------Skills------------------- */
.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 40px; */
    padding-left: 0;
}
.heading1 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar {
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.container {
    width: 400px;
    margin-left: 90px;
    padding: 75px 90px;
}
.progress {
    border-radius: 10px;
    height: 6px;
    background-color: black;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress span {
    height: 5px;
    border-radius: 10px;
    background-color: #0ef;
    position: absolute;
    animation: animate 1.2s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress.html span {
    width: 90%;
}
.progress.css span {
    width: 70%;
}
.progress.js span {
    width: 65%;
}
.progress.cpp span {
    width: 70%;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.bar .info {
    animation: showText 0.5s 0.5s linear forwards;
    opacity: 0;
}
@keyframes showText {
    100% {
        opacity: 1;
    }
}
/* ------percentage------- */
.progress .percentage::after {
    font-size: 10px;
    position: absolute;
    right: 0;
    top: -25px;
    animation: showText 0.5s 0.5s linear forwards;
    border: 5px solid black;
    content: "";
}
.progress.html .percentage::after {
    content: "90%";
}
.progress.css .percentage::after {
    content: '70%';
}
.progress.js .percentage::after {
    content: '65%';
}
.progress.cpp .percentage::after {
    content: '70%';
}    /* to set properties of percentage content we are using this */

/* -------------radialbars------------ */
.rbar {
    width: 500px;
    /*height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
}
.radialbars {
    padding: 10px;
}

.outer {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(0, 0, 0, 0.15);
    background-color: black;
}

.inner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(0, 0, 0, 0.15);
    background-color: #091B2A;
}

.cir {
    position: relative;
    top: -100px;
    width: 120px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: none;
    stroke-linecap: round;
    stroke: #0ef;
    stroke-width: 15px;
    stroke-dasharray: 503;
    stroke-dashoffset: 503;
    animation: anim 1s linear forwards;
}
@keyframes anim {
    100% {
        stroke-dashoffset: -1;
    }
}
.progress1 {
    animation: anim1 1s linear forwards;
}

.progress2 {
    animation: anim2 1s linear forwards;
}

.progress3 {
    animation: anim3 1s linear forwards;
}

.progress4 {
    animation: anim4 1s linear forwards;
}

@keyframes anim1 {
    100% {
        stroke-dashoffset: 140;
    }
}

@keyframes anim2 {
    100% {
        stroke-dashoffset: 180;
    }
}

@keyframes anim3 {
    100% {
        stroke-dashoffset: 200;
    }
}
@keyframes anim4 {
    100% {
        stroke-dashoffset: 137;
    }
}
svg {
    position: absolute;
    top: 16.5px;
    left: -4px;
    width: 73%;
}
.percent1 {
    position: absolute;
    top: 20%;
    left: 0%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.percent2 {
    position: absolute;
    top: 20%;
    left: 28%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.percent3 {
    position: absolute;
    top: 20%;
    left: 56%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.percent4 {
    position: absolute;
    top: 20%;
    left: 84%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
/* ------------projects--------------- */

.projects{
    padding:0 50px;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
    margin: 0 50px;
    padding-top: 50px;
}
.work img{
    max-width:100%;
    height: 100%;
    transition: transform 0.5s;
}
 .work {
    position: relative;
    border-right: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 48px #0053b8f7;
    overflow: hidden;
}
.work .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #0053b8f7);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: height 0.3s;
}
.work:hover .overlay {
    opacity: 1;
    height: 100%;
}

.work:hover img {
    transform: scale(1.1);
}
.overlay a{
    text-decoration: none;
    color: white;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
}
.overlay i{
    font-size: 25px;
    color: #012290f7;
}
/* -------------Achievements----------- */
.Achievements .work a{
    /* background-color: #0b36c6f7; */
    background-color: #1e3fabf7;
    border: 2px solid white;
    color: white;
    border-radius: 10%;
    transition: transform 0.5s;
}
.Achievements .work a:hover{
    transform: scale(1.1); 
    background-color: #0b36c6f7;
}
/* ---------------Contacts------------- */
.Contacts{
    background:linear-gradient(rgba(0, 0, 0, 0.3), #3079d3c9,rgba(0, 0, 0, 0.2)); 
    padding: 80px;
    height: 40vh; 
}
.Contacts p i{
    font-size: 20px;
}
.Contacts h3{
font-size: 25px;
}
.Contacts p a{
    text-decoration: none;
    color: white;
}
.scroll{
    color:#0ef;
    font-size: 40px;
    position: fixed;
    right: 30px;
    bottom: 50px;
} 
/* ----------------footer------------ */
footer{
    height: 30px;
    text-align: center;
    padding-top: 18px;
}